body{
    margin: 0;
    background-color: #333;
}
header{
    text-align: center;
    background-color: orange;
    font-size: 20px;
    height: 50px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    align-items: center;
}

h2{
    color: rgb(201, 197, 189);
}

img{
    width: 250px;
}

.foto{
    display: flex;
    justify-content: center;
    gap: 100px;    
}

.foto2{
    display: flex;
    justify-content: center;
    gap: 100px;    
    margin-top: 10px;
}
.foto5{
    height: 300px;
}

.bagis{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.bagisEtBTN{
    border-radius: 8px;
    border: none;
    background-color: orange;
    height: 50px;
    width: 100px;
    font-size: 18px;
    font-family:fantasy ;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.bagisEtBTN:hover{
    transform: translateY(-4px);
}

#gizli{
    display: none;
}

.kart {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
    text-align: center;
}

.kart-icerik {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px; 
}

.kart-icerik img.res4 {
    margin-top: auto; 
    width: 250px;
}



.geriDon{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.geriBtn{
    border-radius: 8px;
    border: none;
    background-color: orange;
    height: 50px;
    width: 100px;
    font-size: 18px;
    font-family:fantasy ;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.geriBtn:hover{
    transform: translateY(-4px);
}

@media (max-width:600px){
    .foto{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
    }
    .foto2{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
    }
    img{
        width: 185px;
    }
    h2{
        font-size: 20px;
        margin-left: 5px;
    }
}

.container {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
}


.loader{
    position: relative;
    width: 40px;
    height: 40px;
    border: 5px solid #fff;
    border-radius: 100%;
    animation: LoaderAnimation 1s linear infinite;
    display:none;
}

.loader::before{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 3px solid #00aaff;
    border-radius: 100%;
    top: 5px;
    left: 2.5px;
}

.loader::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 3px solid #ff3d00;
    border-radius: 100%;
    bottom: 5px;
    right: 2.5px;
}

@keyframes LoaderAnimation{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}